<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./style/main.css">
</head>

<body>
<!-- nav導覽 -->
    <nav>
        <div class="container">
            <div class="logo">
                <a href="#sec-header">
                    <img class="logo-img" src="./img/icon/logo.svg">
                </a>
            </div>
            <ul class="navber font-b">
                <li>
                    <a data-btn="navber_a" href="#sec-text-video">熱門商品</a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-slide">找教師
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-from">找工作
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-topic">blog
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-host">資源下載</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">註冊/登入</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">
                    <img class="shop-cart" src="./img/icon/shop-cart.svg">
                  </a>
                </li>
            </ul>
            <div class="menuber">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>
<!-- header標題 -->
    <section id="sec-header" class="font-b">
      <div class="container-14">
        <div class="grid">
          <div class="grid-box">
            <div class="title">
              <h1 class="h1-30">從 MYTeachtor認識世界各地的人與文化</h1>
              <h2 class="h2-20 mg-top_bt-10">已累計125874名家教...</h2>
            </div>
            <div class="search-row">
              <div class="search-input">
                <input type="text" placeholder="輸入英文會話、日文會話">
                <img src="./img/icon/search.svg">
              </div>
              <div class="search-menu">
                <img src="./img/icon/btn.svg">
              </div>
            </div>
            <div class="search-btn">
              <a href="#">購物去！</a>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- field科目 -->
    <section id="sec-field">
      <div class="container-14 pd-80">
        <div class="field-box">
          <div class="title-all">
            <h1>來自各領域的專業師資</h1>
          </div>
          <div class="field-menu">
            <div class="item">
              <div class="item-title">學科教學</div>
              <ul class="flex">
                <li>伴讀</li>
                <li>數學</li>
                <li>物理</li>
                <li>化學</li>
              </ul>
              <ul class="flex">
                <li>國文</li>
                <li>英文</li>
                <li>歷史</li>
                <li>地理</li>
              </ul>
            </div>
            <div class="item item-row">
              <div class="item-title">休閒才藝</div>
              <ul class="flex">
                <li>鋼琴</li>
                <li>大/小提琴</li>
                <li>薩克斯風</li>
              </ul>
              <ul class="flex">
                <li>繪畫</li>
                <li>舞蹈</li>
              </ul>
            </div>
            <div class="item">
              <div class="item-title">語文教學</div>
              <ul class="flex">
                <li>英文</li>
                <li>日語</li>
                <li>韓文</li>
                <li>中文</li>
              </ul>
              <ul class="flex">
                <li>英文作文</li>
                <li>法文</li>
                <li>泰文</li>
              </ul>
            </div>
          </div>
          <div class="field-btn">
            <a href="#">查看更多</a>
          </div>
        </div>
      </div>
    </section>
<!-- product老師欄 -->
    <section id="sec-puteacher" class="font-b">
      <div class="container-14 pd-80">
        <div class="title-all">
          <h1>Find a Teacher</h1>
          <h2>推薦老師</h2>
        </div>
        <div class="photo">
          <div class="photo-box">
            <div class="photo-img">
              <img src="./img/phone.png">
            </div>
            <div class="name">
              <h3>Angel</h3>
            </div>
          </div>
          <div class="photo-box">
            <div class="photo-img">
              <img src="./img/phone.png">
            </div>
            <div class="name">
              <h3>Angel</h3>
            </div>
          </div>
          <div class="photo-box photo-box-bg">
            <div class="photo-img">
              <img src="./img/phone.png">
            </div>
            <div class="name">
              <h3>Angel</h3>
            </div>
          </div>
          <div class="photo-box">
            <div class="photo-img">
              <img src="./img/phone.png">
            </div>
            <div class="name">
              <h3>Angel</h3>
            </div>
          </div>
          <div class="photo-box">
            <div class="photo-img">
              <img src="./img/phone.png">
            </div>
            <div class="name">
              <h3>Angel</h3>
            </div>
          </div>
        </div>
        <div class="puteacher-content">
          <div class="left">
            <h4>ANGEL娜娜 兒少｜成人美語    英聽口說文法難不倒！</h4>
            <h5>
              10年教學經驗｜多益820
              <br>
              <i class="fas fa-star"></i>5.1 個評論
            </h5>
            <p>
              一月課程招生中♀正式課程 新師優惠7折 限前10名♀幫助你解決英文學習的疑難雜症國北課程碩士生｜商學院英語專業 專長為發音入門、生活英文、文法扎根、自主閱讀！ 世界運動賽事英文即時口譯員 ESL全英語教學 讓娜娜成為你最好
            </p>
            <span class="span-b">瀏覽更多...</span>
            <div class="put-btn">
              <span class="left">預約體驗</span>
              <span class="right">聯繫老師</span>
            </div>
          </div>
          <div class="right">
            <div class="text">
              <div class="text-box">
                NT$154
                <br>
                <span>25分鐘</span>
              </div>
              <div class="text-box">
                NT$154
                <br>
                <span>25分鐘</span>
              </div>
            </div>
            <div class="video">
              <img src="./img/資產 2.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="Separate"></section>
<!-- product產品表 -->
    <section id="sec-product" class="font-b">
      <div class="container-14 pd-80">
        <div class="title-all">
          <h1>MyTeator shop</h1>
          <h2>熱門商品</h2>
        </div>
        <div class="content">
          <figure class="img-box">
            <img src="./img/index/product-01.jpg">
            <figcaption class="figcaption-text">
              <div class="figcaption-box">
                <p>小蜜蜂擴音器教師專用耳麥大功
                  率腰掛講課教學用上課寶喇叭戶
                  外叫賣便攜德勝揚聲器
                </p>
                <div class="sup-box">
                  <div class="sup-left">$1234</div>
                  <div class="sup-right">5折</div>
                </div>
              </div>
            </figcaption>
          </figure>
          <figure class="img-box">
            <img src="./img/index/product-02.jpg">
            <figcaption class="figcaption-text">
              <div class="figcaption-box">
                <p>小蜜蜂擴音器教師專用耳麥大功
                  率腰掛講課教學用上課寶喇叭戶
                  外叫賣便攜德勝揚聲器
                </p>
                <div class="sup-box">
                  <div class="sup-left">$1234</div>
                  <div class="sup-right">5折</div>
                </div>
              </div>
            </figcaption>
          </figure>
          <figure class="img-box">
            <img src="./img/index/product-03.jpg">
            <figcaption class="figcaption-text">
              <div class="figcaption-box">
                <p>小蜜蜂擴音器教師專用耳麥大功
                  率腰掛講課教學用上課寶喇叭戶
                  外叫賣便攜德勝揚聲器
                </p>
                <div class="sup-box">
                  <div class="sup-left">$1234</div>
                  <div class="sup-right">5折</div>
                </div>
              </div>
            </figcaption>
          </figure>
          <figure class="img-box">
            <img src="./img/index/product-01.jpg">
            <figcaption class="figcaption-text">
              <div class="figcaption-box">
                <p>小蜜蜂擴音器教師專用耳麥大功
                  率腰掛講課教學用上課寶喇叭戶
                  外叫賣便攜德勝揚聲器
                </p>
                <div class="sup-box">
                  <div class="sup-left">$1234</div>
                  <div class="sup-right">5折</div>
                </div>
              </div>
            </figcaption>
          </figure>
          <figure class="img-box">
            <img src="./img/index/product-02.jpg">
            <figcaption class="figcaption-text">
              <div class="figcaption-box">
                <p>小蜜蜂擴音器教師專用耳麥大功
                  率腰掛講課教學用上課寶喇叭戶
                  外叫賣便攜德勝揚聲器
                </p>
                <div class="sup-box">
                  <div class="sup-left">$1234</div>
                  <div class="sup-right">5折</div>
                </div>
              </div>
            </figcaption>
          </figure>
          <figure class="img-box">
            <img src="./img/index/product-03.jpg">
            <figcaption class="figcaption-text">
              <div class="figcaption-box">
                <p>小蜜蜂擴音器教師專用耳麥大功
                  率腰掛講課教學用上課寶喇叭戶
                  外叫賣便攜德勝揚聲器
                </p>
                <div class="sup-box">
                  <div class="sup-left">$1234</div>
                  <div class="sup-right">5折</div>
                </div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="product-btn">
          <a href="#">查看更多</a>
        </div>
      </div>
    </section>

<!-- findaJob找工作 -->
    <section id="sec-findaJob" class="font-b">
      <div class="container-14 pd-80">
        <div class="title-all">
          <h1>Find a Job</h1>
          <h2>找工作</h2>
        </div>
        <div class="findaJob-box">
          <div class="findaJob-img">
            <img src="./img/index/findaJob01@2400x.png">
          </div>
          <div class="findaJob-form">
            <form class="findaJob-form-form">
              <div class="findaJob-input-row">
                <input id="findaJob-radio01" type="radio" name="findaJob-radio">
                <label for="findaJob-radio01">drawing/sketchartist</label>
              </div>
              <div class="findaJob-input-row">
                <input id="findaJob-radio02"  type="radio" name="findaJob-radio">
                <label for="findaJob-radio02">SubTeacher</label>
              </div>
              <div class="findaJob-input-row">
                <input id="findaJob-radio03" type="radio" name="findaJob-radio">
                <label for="findaJob-radio03">YoutubeVideoEditing</label>
              </div>
              <div class="findaJob-btn">
                <a href="#">Apply to this Job</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="sec-slide" class="font-b">
      <div class="container-14 pd-80">
        <div class="title-all">
          <h1>MyTeator Blog</h1>
          <h2>推薦文章</h2>
        </div>
      </div>
    </section>

    <footer class="font-b">
      <h1>© MYTeachor, Inc.</h1>
      <h1>網站地圖・服務條款隱私聲明</h1>
    </footer>

    <script src="./js/modal.js"></script>
</body>

</html>