<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bolg</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style/index.css">
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo">
                <a href="#sec-header">
                    <img class="logo-img" src="./img/icon/logo.svg">
                </a>
            </div>
            <ul class="navber font-b">
                <li>
                    <a data-btn="navber_a" href="#sec-text-video">熱門商品</a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-slide">找教師
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-from">找工作
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-topic">blog
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-host">資源下載</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">註冊/登入</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">
                    <img class="shop-cart" src="./img/icon/shop-cart.svg">
                  </a>
                </li>
            </ul>
            <div class="menuber">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>

    <main id="main-user">

        <section class="sec-header-bolg">
        </section>

        <div class="slip-ber font-b">
            <div class="ber">
                <h1 class="ber-text">Blog</h1>
            </div>
        </div>

    </main>

    <section id="sec-blog" class="font-b">
        <div class="container">
            <div class="list-item list-item-user">
                <h1 class="text">首頁 <i class="fal fa-angle-right"></i>文章列表</h1>
            </div>
        </div>
        <div class="container-12">
            <div class="article-box">
                <div class="article-left">
                    <h1>logo MyTeator.
                        <br>
                        <br>
                        menu
                        <br>
                        <br>
                        10 Weirdest Taiwanese Food that You Must Try
                        September 12th, 2020
                        <br>
                        <br>
                        post image cover
                        Here is some weird food I believe you should try in Taiwan.
                        <br>
                        10 Weirdest Taiwanese Food that You Must Try
                        <br>
                        <br>
                        Before you scroll down and get stunned by the food I’m about to list out, let me point out that Taiwan is a must-visit when you go to Asia. Taiwan is famous for its variety of great food, amazing people, breathtaking nature, and again, food. Part of the Taiwanese night life is the so-called “night market” (夜市) that opens from 6pm to 1am. Make sure you add night market into your schedule, stop by any of them and go on a crazy gourmet experience. Without further ado, let’s jump in.
                    </h1>
                    <div class="img-box">
                        <img src="./img/blog/img.jpg">
                    </div>
                    <h1>
                        Buckle up, ready, get set. Go!
                        <br><br>
                        1.     Stingy Tofu 臭豆腐
                        If you engage in a conversation with Taiwanese, I bet the first question you will get is “Have you tried Chou Dou Fu?”, the Chinese spelling for stinky tofu. Local people are always excited to hear your response and see your reaction as if it’s a prank. Nothing to be scared of, it is a real food.
                        <br><br>
                        Are you curious about what’s going on with this stinky tofu and what makes it (in)famous? I sure was when I first came to Taiwan and had to blindly experience it myself. Fortunately for you, my friend, I will spare you the trouble and tell you what the fuss is about.
                        <br><br>
                        Stinky tofu is fermented tofu that has a very strong odor. Hold up, let me rephrase that: STRONNNNNNNNNNGG odor. Some competitors that share the same trait in the world include surstromming, Swedish fermented fish, or old French cheese. Yeah, now you get the idea. Stinky tofu is mostly served at nigh market stands or roadside canteens where it’s breezier, and sometimes in restaurants.
                    </h1>
                </div>
                <div class="article-right">
                    <div class="input-search">
                        <input type="text" placeholder="英語教材">
                        <img src="./img/icon/search.svg">
                    </div>
                    <div class="title">
                        <h1>近期文章</h1>
                    </div>
                    <div class="title-bottom">
                        <h1>家教老師面試要注意什麼呢?</h1>
                        <h1>找家教老師，面試該注意什麼呢?</h1>
                        <h1>如何刊登家教案件，才能找到好老師?</h1>
                    </div>
                    <div class="title">
                        <h1>彙整</h1>
                    </div>
                    <div class="title-bottom">
                        <a href="#">2020 年 12 月 (6)</a>
                        <a href="#">2020 年 11 月 (1)</a>
                        <a href="#">2020 年 2 月 (1)</a>
                        <a href="#">2020 年 1 月 (1)</a>
                        <a href="#">2019 年 11 月 (3)</a>
                        <a href="#">2019 年 10 月 (4)</a>
                        <a href="#">2019 年 9 月 (7)</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="menu-bottom">
            <div class="container-12">
                <div class="menu-bottom-cn">
                    <a href="#"><i class="fas fa-angle-left"></i></a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fas fa-angle-right"></i></a>
                </div>

            </div>
        </div>
    </section>

    <footer class="font-b">
        <h1>© MYTeachor, Inc.</h1>
        <h1>網站地圖・服務條款隱私聲明</h1>
    </footer>

    <script src="./js/modal.js"></script>
</body>
</html>
