<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品列表</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./style/main.css">
</head>
<body>
    <!-- nav導覽 -->
    <nav>
        <div class="container">
            <div class="logo">
                <a href="#sec-header">
                    <img class="logo-img" src="./img/icon/logo.svg">
                </a>
            </div>
            <ul class="navber font-b">
                <li>
                    <a data-btn="navber_a" href="#sec-text-video">熱門商品</a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-slide">找教師
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-from">找工作
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-topic">blog
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-host">資源下載</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">註冊/登入</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">
                    <img class="shop-cart" src="./img/icon/shop-cart.svg">
                  </a>
                </li>
            </ul>
            <div class="menuber">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>

    <!-- main-header-title -->
    <main id="main-user">
        <section class="sec-header cm-bg">
        </section>
        <div class="slip-ber font-r">
            <div class="ber">
                <h1 class="ber-text">Course materials</h1>
            </div>
        </div>
    </main>
    <!-- min-title 小標題 -->
    <section id="sec-cm">
        <div class="container">
            <div class="list-item list-item-user">
                <h1 class="text">首頁 <i class="fal fa-angle-right"></i>商品列表</h1>
            </div>
            <div class="input-search">
                <input type="text" placeholder="英語教材">
                <img src="./img/icon/search.svg">
            </div>
        </div>

        <div class="container-14 font-b">
            <div class="content-modal content-modal-cm">
                <div class="set-sort">
                    <div class="set-sort-item item-one">
                        <div class="title font-b">商品分類</div>
                        <ul class="item">
                            <li>
                                <i class="fas fa-caret-right"></i>
                                <input  name="commodity-radio"
                                        id="commodity-radio-01"
                                        type="radio">
                                <label for="commodity-radio-01">新商品</label>
                            </li>
                        </ul>
                        <ul class="item">
                            <li>
                                <i class="fas fa-caret-right"></i>
                                <input  name="commodity-radio"
                                        id="commodity-radio-02"
                                        type="radio">
                                <label for="commodity-radio-02">價格</label>
                            </li>
                        </ul>
                        <ul class="item">
                            <li>
                                <i class="fas fa-caret-right"></i>
                                <input  name="commodity-radio"
                                        id="commodity-radio-03"
                                        type="radio">
                                <label for="commodity-radio-03">年齡</label>
                            </li>
                        </ul>
                        <ul class="item">
                            <li>
                                <i class="fas fa-caret-right"></i>
                                <input  name="commodity-radio"
                                        id="commodity-radio-04"
                                        type="radio">
                                <label for="commodity-radio-04">課程分類</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="set-form">
                    <div class="commodity-img-box">
                        <div class="img-boz">
                            <img src="./img/commodity-1/text@2400x.png">
                        </div>
                        <div class="img-boz">
                            <img src="./img/commodity-1/text@2400x.png">
                        </div>
                        <div class="img-boz">
                            <img src="./img/commodity-1/text@2400x.png">
                        </div>
                        <div class="img-boz">
                            <img src="./img/commodity-1/text@2400x.png">
                        </div>
                        <div class="img-boz">
                            <img src="./img/commodity-1/text@2400x.png">
                        </div>
                        <div class="img-boz">
                            <img src="./img/commodity-1/text@2400x.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-bottom">
            <div class="container-12">
                <div class="menu-bottom-cn">
                    <a href="#"><i class="fas fa-angle-left"></i></a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fas fa-angle-right"></i></a>
                </div>
                
            </div>
        </div>
    </section>


    <footer class="font-b">
        <h1>© MYTeachor, Inc.</h1>
        <h1>網站地圖・服務條款隱私聲明</h1>
    </footer>

    <script src="./js/modal.js"></script>

</body>
</html>