<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coursematerials</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./style/main.css">
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo">
                <a href="#sec-header">
                    <img class="logo-img" src="./img/icon/logo.svg">
                </a>
            </div>
            <ul class="navber font-b">
                <li>
                    <a data-btn="navber_a" href="#sec-text-video">熱門商品</a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-slide">找教師
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-from">找工作
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-topic">blog
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-host">資源下載</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">註冊/登入</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">
                    <img class="shop-cart" src="./img/icon/shop-cart.svg">
                  </a>
                </li>
            </ul>
            <div class="menuber">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>
    <main id="main-user">

        <section class="sec-header-bolg">
        </section>

        <div class="slip-ber font-r">
            <div class="ber">
                <h1 class="ber-text">Course materials</h1>
            </div>
        </div>

    </main>
    
    <section id="sec-cm">
        <div class="container">
            <div class="list-item list-item-user">
                <h1 class="text">首頁 <i class="fal fa-angle-right"></i>找老師</h1>
            </div>
            <div class="input-search">
                <input type="text" placeholder="英語教材">
                <img src="./img/icon/search.svg">
            </div>
        </div>

        <div class="container-14 font-b">
            <div class="content-modal content-modal-soures">
                <div class="set-sort">
                    <div class="set-sort-item item-one">
                        <div class="title font-b">服務類別</div>
                        <ul class="item">
                            <li>
                                <i class="fas fa-caret-right"></i>
                                <input type="radio">
                                <span>伴讀/保姆</span>
                            </li>
                        </ul>
                        <ul class="item">
                            <li>
                                <i class="fas fa-caret-right"></i>
                                <input type="radio">
                                <span>學科</span>
                            </li>
                        </ul>
                        <ul class="item">
                            <li>
                                <i class="fas fa-caret-right"></i>
                                <input type="radio">
                                <span>語文</span>
                            </li>
                        </ul>
                        <ul class="item">
                            <li>
                                <i class="fas fa-caret-right"></i>
                                <input type="radio">
                                <span>音樂</span>
                            </li>
                        </ul>
                        <ul class="item">
                            <li>
                                <i class="fas fa-caret-right"></i>
                                <input type="radio">
                                <span>休閒才藝</span>
                            </li>
                        </ul>
                        <ul class="item">
                            <li>
                                <i class="fas fa-caret-right"></i>
                                <input type="radio">
                                <span>術科/職場技能</span>
                            </li>
                        </ul>
                        <ul class="item">
                            <li>
                                <i class="fas fa-caret-right"></i>
                                <input type="radio">
                                <span>體育/舞蹈</span>
                            </li>
                        </ul>
                    </div>
                    <div class="set-sort-item item-two">
                        <div class="title title-w100 font-b">進階篩選<img src="./img/icon/btn.svg"></div>
                        <form>
                            <div class="options">
                                <label for="">服務金額</label>
                                <div class="box">
                                    <input type="text">
                                    <span>~</span>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="options">
                                <label for="">服務經驗</label>
                                <select>
                                    <option selected>不拘</option>
                                </select>
                            </div>
                            <div class="options">
                                <label for="">服務地區</label>
                                <select>
                                    <option selected>請選擇地區</option>
                                </select>
                            </div>
                            <div class="options">
                                <label for="">服務方式</label>
                                <select>
                                    <option selected>不拘</option>
                                </select>
                            </div>
                            <div class="options">
                                <label for="">教學對象</label>
                                <select>
                                    <option selected>不拘</option>
                                </select>
                            </div>
                            <div class="options">
                                <label for="">服務時段</label>
                                <div class="box-radio ">
                                    <input type="radio" name="box-radio">
                                    <label for="">平日全時段</label>
                                </div>
                                <div class="box-radio ">
                                    <input type="radio" name="box-radio">
                                    <label for="">平日上午</label>
                                </div>
                                <div class="box-radio ">
                                    <input type="radio" name="box-radio">
                                    <label for="">平日下午</label>
                                </div>
                                <div class="box-radio ">
                                    <input type="radio" name="box-radio">
                                    <label for="">平日晚上</label>
                                </div>
                                <div class="box-radio ">
                                    <input type="radio" name="box-radio">
                                    <label for="">假日全時段</label>
                                </div>
                                <div class="box-radio ">
                                    <input type="radio" name="box-radio">
                                    <label for="">假日上午</label>
                                </div>
                                <div class="box-radio ">
                                    <input type="radio" name="box-radio">
                                    <label for="">假日下午</label>
                                </div>
                                <div class="box-radio ">
                                    <input type="radio" name="box-radio">
                                    <label for="">假日晚上</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="set-form">
                    <div class="puteacher-row">
                        <div class="img">
                            <img src="./img/phone.png">
                        </div>
                        <div class="Text">
                            <div class="left">
                                <h4>ANGEL娜娜 兒少｜成人美語    英聽口說文法難不倒！</h4>
                                <h5>
                                    10年教學經驗｜多益820
                                    <br>
                                    <i class="fas fa-star"></i>5.1 個評論
                                </h5>
                                <p>
                                    一月課程招生中♀正式課程 新師優惠7折 限前10名♀幫助你解決英文學習的疑難雜症國北課程碩士生｜商學院英語專業 專長為發音入門、生活英文、文法扎根、自主閱讀！ 世界運動賽事英文即時口譯員 ESL全英語教學 讓娜娜成為你最好
                                </p>
                                <span class="left-span">瀏覽更多...</span>
                                <div class="put-btn">
                                    <span class="put-btn-left">預約體驗</span>
                                    <span class="put-btn-right">聯繫老師</span>
                                </div>
                            </div>
                            <div class="right">
                              <div class="box">
                                <div class="text">
                                  NT$154
                                  <br>
                                  25分鐘
                                </div>
                                <div class="text">
                                  NT$735
                                  <br>
                                  50分鐘
                                </div>
                              </div>
                              <div class="puteacher-img">
                                <img src="./img/資產 2.jpg">
                              </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="paid">
                        <div class="title"><span>付費觀看</span>老師詳細資料</div>
                        <div class="paid-conter">
                            <div class="row row-s">
                                <h2 class="hide">123</h2>
                                <h2 class="hide">123</h2>
                                <h2 class="hide">123</h2>
                                <h2 class="hide">123</h2>
                                <h3>刪除廣告</h3>
                                <h3>免費SSL證書</h3>
                                <h3>儲存空間</h3>
                                <h3>錄像時間</h3>
                                <h3>網站助推器應用</h3>
                                <h3>訪客分析應用</h3>
                                <h3>社交媒體徽標文件</h3>
                                <h3>客戶服務</h3>
                            </div>
                            <div class="row">
                                <h2>
                                    VIP
                                    <br>
                                    first Priority Suppot
                                    <br>
                                    <span class="hide">123</span>
                                </h2>
                                <h2>TW$999</h2>
                                <h3><i class="fas fa-check"></i></h3>
                                <h3><i class="fas fa-check"></i></h3>
                                <h3>35GB</h3>
                                <h3>5個小時</h3>
                                <h3>一年免費</h3>
                                <h3>一年免費</h3>
                                <h3><i class="fas fa-check"></i></h3>
                                <h3><i class="fas fa-check"></i></h3>
                            </div>
                            <div class="row">
                                <h2>
                                    Unlimited
                                    <br>
                                    Entrepreneurs&
                                    <br>
                                    Freelancers
                                </h2>
                                <h2>TW$399</h2>
                                <h3><i class="fas fa-check"></i></h3>
                                <h3><i class="fas fa-check"></i></h3>
                                <h3>10GB</h3>
                                <h3>1個小時</h3>
                                <h3>一年免費</h3>
                                <h3>一年免費</h3>
                                <h3><i class="fas fa-check"></i></h3>
                                <h3><i class="fas fa-check"></i></h3>
                            </div>
                            <div class="row">
                                <h2>
                                    Combo
                                    <br>
                                    For Personal Use
                                    <br>
                                    <span class="hide">123</span>
                                </h2>
                                <h2>TW$199</h2>
                                <h3><i class="fas fa-check"></i></h3>
                                <h3><i class="fas fa-check"></i></h3>
                                <h3>3GB</h3>
                                <h3>15分鐘</h3>
                                <h3 class="hide">1</h3>
                                <h3 class="hide">1</h3>
                                <h3><i class="fas fa-check"></i></h3>
                                <h3><i class="fas fa-check"></i></h3>
                            </div>
                        </div>
                    </div>
                    <div class="puteacher-row">
                        <div class="img">
                            <img src="./img/phone.png">
                        </div>
                        <div class="Text">
                            <div class="left">
                                <h4>ANGEL娜娜 兒少｜成人美語    英聽口說文法難不倒！</h4>
                                <h5>
                                    10年教學經驗｜多益820
                                    <br>
                                    <i class="fas fa-star"></i>5.1 個評論
                                </h5>
                                <p>
                                    一月課程招生中♀正式課程 新師優惠7折 限前10名♀幫助你解決英文學習的疑難雜症國北課程碩士生｜商學院英語專業 專長為發音入門、生活英文、文法扎根、自主閱讀！ 世界運動賽事英文即時口譯員 ESL全英語教學 讓娜娜成為你最好
                                </p>
                                <span class="left-span">瀏覽更多...</span>
                                <div class="put-btn">
                                    <span class="put-btn-left">預約體驗</span>
                                    <span class="put-btn-right">聯繫老師</span>
                                </div>
                            </div>
                            <div class="right">
                              <div class="box">
                                <div class="text">
                                  NT$154
                                  <br>
                                  25分鐘
                                </div>
                                <div class="text">
                                  NT$735
                                  <br>
                                  50分鐘
                                </div>
                              </div>
                              <div class="puteacher-img">
                                <img src="./img/資產 2.jpg">
                              </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="puteacher-row">
                        <div class="img">
                            <img src="./img/phone.png">
                        </div>
                        <div class="Text">
                            <div class="left">
                                <h4>ANGEL娜娜 兒少｜成人美語    英聽口說文法難不倒！</h4>
                                <h5>
                                    10年教學經驗｜多益820
                                    <br>
                                    <i class="fas fa-star"></i>5.1 個評論
                                </h5>
                                <p>
                                    一月課程招生中♀正式課程 新師優惠7折 限前10名♀幫助你解決英文學習的疑難雜症國北課程碩士生｜商學院英語專業 專長為發音入門、生活英文、文法扎根、自主閱讀！ 世界運動賽事英文即時口譯員 ESL全英語教學 讓娜娜成為你最好
                                </p>
                                <span class="left-span">瀏覽更多...</span>
                                <div class="put-btn">
                                    <span class="put-btn-left">預約體驗</span>
                                    <span class="put-btn-right">聯繫老師</span>
                                </div>
                            </div>
                            <div class="right">
                              <div class="box">
                                <div class="text">
                                  NT$154
                                  <br>
                                  25分鐘
                                </div>
                                <div class="text">
                                  NT$735
                                  <br>
                                  50分鐘
                                </div>
                              </div>
                              <div class="puteacher-img">
                                <img src="./img/資產 2.jpg">
                              </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="puteacher-row">
                        <div class="img">
                            <img src="./img/phone.png">
                        </div>
                        <div class="Text">
                            <div class="left">
                                <h4>ANGEL娜娜 兒少｜成人美語    英聽口說文法難不倒！</h4>
                                <h5>
                                    10年教學經驗｜多益820
                                    <br>
                                    <i class="fas fa-star"></i>5.1 個評論
                                </h5>
                                <p>
                                    一月課程招生中♀正式課程 新師優惠7折 限前10名♀幫助你解決英文學習的疑難雜症國北課程碩士生｜商學院英語專業 專長為發音入門、生活英文、文法扎根、自主閱讀！ 世界運動賽事英文即時口譯員 ESL全英語教學 讓娜娜成為你最好
                                </p>
                                <span class="left-span">瀏覽更多...</span>
                                <div class="put-btn">
                                    <span class="put-btn-left">預約體驗</span>
                                    <span class="put-btn-right">聯繫老師</span>
                                </div>
                            </div>
                            <div class="right">
                              <div class="box">
                                <div class="text">
                                  NT$154
                                  <br>
                                  25分鐘
                                </div>
                                <div class="text">
                                  NT$735
                                  <br>
                                  50分鐘
                                </div>
                              </div>
                              <div class="puteacher-img">
                                <img src="./img/資產 2.jpg">
                              </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-bottom">
            <div class="container-12">
                <div class="menu-bottom-cn">
                    <a href="#"><i class="fas fa-angle-left"></i></a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fas fa-angle-right"></i></a>
                </div>
                
            </div>
        </div>
    </section>

    <footer class="font-b">
        <h1>© MYTeachor, Inc.</h1>
        <h1>網站地圖・服務條款隱私聲明</h1>
    </footer>

</body>
</html>