<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index-1</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./style/main.css">
</head>

<body>
<!-- nav導覽 -->
    <nav>
        <div class="container">
            <div class="logo">
                <a href="#sec-header">
                    <img class="logo-img" src="./img/icon/logo.svg">
                </a>
            </div>
            <ul class="navber font-b">
                <li>
                    <a data-btn="navber_a" href="#sec-text-video">熱門商品</a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-slide">找教師
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-from">找工作
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-topic">blog
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-host">資源下載</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">註冊/登入</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">
                    <img class="shop-cart" src="./img/icon/shop-cart.svg">
                  </a>
                </li>
            </ul>
            <div class="menuber">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>
<!-- header標題 -->
    <section id="sec-header" class="font-b">
      <div class="container-14">
        <div class="grid">
          <div class="grid-box">
            <div class="title">
              <h1>從 MYTeachtor認識世界各地的人與文化</h1>
              <h2>已累計125874名家教...</h2>
            </div>
            <div class="search-row">
              <div class="search-input">
                <input type="text" placeholder="輸入英文會話、日文會話">
                <img src="./img/icon/search.svg">
              </div>
              <div class="search-menu">
                <img src="./img/icon/btn.svg">
              </div>
            </div>
            <div class="search-btn">
              <a href="#">購物去！</a>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- field科目 -->
    <section id="sec-field">
      <div class="container-14 pd-80">
        <div class="field-box">
          <div class="title-all">
            <h1>各領域的家教案件</h1>
          </div>
          <div class="field-menu">
            <div class="item">
              <div class="item-title">學科教學</div>
              <ul class="flex">
                <li>伴讀</li>
                <li>數學</li>
                <li>物理</li>
                <li>化學</li>
              </ul>
              <ul class="flex">
                <li>國文</li>
                <li>英文</li>
                <li>歷史</li>
                <li>地理</li>
              </ul>
            </div>
            <div class="item item-row">
              <div class="item-title">休閒才藝</div>
              <ul class="flex">
                <li>鋼琴</li>
                <li>大/小提琴</li>
                <li>薩克斯風</li>
              </ul>
              <ul class="flex">
                <li>繪畫</li>
                <li>舞蹈</li>
              </ul>
            </div>
            <div class="item">
              <div class="item-title">語文教學</div>
              <ul class="flex">
                <li>英文</li>
                <li>日語</li>
                <li>韓文</li>
                <li>中文</li>
              </ul>
              <ul class="flex">
                <li>英文作文</li>
                <li>法文</li>
                <li>泰文</li>
              </ul>
            </div>
          </div>
          <div class="field-btn">
            <a href="#">查看更多</a>
          </div>
        </div>
      </div>
    </section>
<!-- BudgetTable預算表 -->
    <section id="sec-BudgetTable" class="font-b">
      <div class="container-14 pd-80">
        <div class="BudgetTable-box">
          <div class="BudgetTable-box-left">
            <h1 class="title">入門案件：給首次接案的您</h1>
            <div class="BudgetTable-item-box">
              <div class="BudgetTable-item-box-row">
                <h1>小一生寒假英文家教/家教</h1>
              </div>
              <div class="BudgetTable-item-box-row">
                <h2>預算 $500</h2><h2>應徵數 5</h2>
              </div>
            </div>
            <div class="BudgetTable-item-box">
              <div class="BudgetTable-item-box-row">
                <h1>小一生寒假英文家教/家教</h1>
              </div>
              <div class="BudgetTable-item-box-row">
                <h2>預算 $500</h2><h2>應徵數 5</h2>
              </div>
            </div>
            <div class="BudgetTable-item-box">
              <div class="BudgetTable-item-box-row">
                <h1>小一生寒假英文家教/家教</h1>
              </div>
              <div class="BudgetTable-item-box-row">
                <h2>預算 $500</h2><h2>應徵數 5</h2>
              </div>
            </div>
          </div>
          <div class="BudgetTable-box-right">
            <h1 class="title">高薪案件：給經驗豐富的您</h1>
            <div class="BudgetTable-item-box">
              <div class="BudgetTable-item-box-row">
                <h1>小一生寒假英文家教/家教</h1>
              </div>
              <div class="BudgetTable-item-box-row">
                <h2>預算 $500</h2><h2>應徵數 5</h2>
              </div>
            </div>
            <div class="BudgetTable-item-box">
              <div class="BudgetTable-item-box-row">
                <h1>小一生寒假英文家教/家教</h1>
              </div>
              <div class="BudgetTable-item-box-row">
                <h2>預算 $500</h2><h2>應徵數 5</h2>
              </div>
            </div>
            <div class="BudgetTable-item-box">
              <div class="BudgetTable-item-box-row">
                <h1>小一生寒假英文家教/家教</h1>
              </div>
              <div class="BudgetTable-item-box-row">
                <h2>預算 $500</h2><h2>應徵數 5</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- BudgetTable預算表 -->
    <section id="sec-Budget" class="font-b">
      <div class="container-14 pd-80">
        <div class="title">
          <h1>付費家教方案</h1>
        </div>
        <div class="Budget-Box">
          <div class="Budget-Box-one">
              <ul>
                  <li class="span">
                      VIP
                      <br>
                      first Priority Suppot
                      <br>
                      <div class="hind">123</div>
                  </li>
                  <div class="line"></div>
                  <li class="span">
                      TW$<span class="bing">999</span>/月
                  </li>
              </ul>
          </div>
          <div class="Budget-Box-one">
            <ul>
                <li class="span">
                    Unlimited
                    <br>
                    Entrepreneurs& 
                    <br>
                    Freelancers
                </li>
                <div class="line"></div>
                <li class="span">
                    TW$<span class="bing">399</span>/月
                </li>
            </ul>
          </div>
          <div class="Budget-Box-one">
            <ul>
                <li class="span">
                    Combo
                    <br>
                    For Personal Use
                    <br>
                    <div class="hind">123</div>
                </li>
                <div class="line"></div>
                <li class="span">
                    TW$<span class="bing">199</span>/月
                </li>
            </ul>
          </div>  
        </div>
      </div>
    </section>

    <footer class="font-b">
      <h1>© MYTeachor, Inc.</h1>
      <h1>網站地圖・服務條款隱私聲明</h1>
    </footer>

    <script src="./js/modal.js"></script>
</body>

</html>