<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paid page</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style/index.css">
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo">
                <a href="#sec-header">
                    <img class="logo-img" src="./img/icon/logo.svg">
                </a>
            </div>
            <ul class="navber font-b">
                <li>
                    <a data-btn="navber_a" href="#sec-text-video">熱門商品</a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-slide">找教師
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-from">找工作
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-topic">blog
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-host">資源下載</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">註冊/登入</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">
                    <img class="shop-cart" src="./img/icon/shop-cart.svg">
                  </a>
                </li>
            </ul>
            <div class="menuber">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>
    <main id="main-user">

        <section class="sec-header">
        </section>

        <div class="slip-ber font-r">
            <div class="ber">
                <h1 class="ber-text">付費頁面</h1>
            </div>
        </div>

    </main>

    <section id="sec-cm" class="font-b">
        <div class="container">
            <div class="list-item">
                <h1 class="text">首頁 <i class="fal fa-angle-right"></i>付費頁面</h1>
            </div>
        </div>

        <div class="container-14">
            <div class="title-all">
                <h1><span class="color-">付費觀看</span>詳細資料</h1>
            </div>
            <div class="Paid-Box">
                <div class="Paid-Box-sup">
                    <div class="Paid-Box-sup-left">
                        <ul>
                            <li>刪除廣告</li>
                            <li>免費SSL證書</li>
                            <li>儲存空間</li>
                            <li>錄像時間</li>
                            <li>網站助推器應用</li>
                            <li>訪客分析應用</li>
                            <li>社交媒體徽標文件</li>
                            <li>客戶服務</li>
                        </ul>
                    </div>
                    <div class="Paid-Box-sup-right">
                        <div class="Paid-Box-sup-right-one">
                            <ul>
                                <li class="span">
                                    VIP
                                    <br>
                                    first Priority Suppot
                                    <br>
                                    <div class="hind">123</div>
                                </li>
                                <li class="span-2">
                                    TW$<span class="bing">999</span>/月
                                </li>
                                <li><i class="fas fa-check"></i></li>
                                <li><i class="fas fa-check"></i></li>
                                <li>35GB</li>
                                <li>5個小時</li>
                                <li>一年免費</li>
                                <li>一年免費</li>
                                <li><i class="fas fa-check"></i></li>
                                <li><i class="fas fa-check"></i></li>
                            </ul>
                        </div>
                        <div class="Paid-Box-sup-right-one border">
                            <ul>
                                <li class="span">
                                    Unlimited
                                    <br>
                                    Entrepreneurs&
                                    <br>
                                    Freelancers
                                </li>
                                <li class="span-2">
                                    TW$<span class="bing">399</span>/月
                                </li>
                                <li><i class="fas fa-check"></i></li>
                                <li><i class="fas fa-check"></i></li>
                                <li>10GB</li>
                                <li>1個小時</li>
                                <li>一年免費</li>
                                <li>一年免費</li>
                                <li><i class="fas fa-check"></i></li>
                                <li><i class="fas fa-check"></i></li>
                            </ul>
                        </div>
                        <div class="Paid-Box-sup-right-one">
                            <ul>
                                <li class="span">
                                    Combo
                                    <br>
                                    For Personal Use
                                    <div class="hind">123</div>
                                </li>
                                <li class="span-2">
                                    TW$<span class="bing">199</span>/月
                                </li>
                                <li><i class="fas fa-check"></i></li>
                                <li><i class="fas fa-check"></i></li>
                                <li>3GB</li>
                                <li>15分鐘</li>
                                <li class="hind">一年免費</li>
                                <li class="hind">一年免費</li>
                                <li><i class="fas fa-check"></i></li>
                                <li><i class="fas fa-check"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Paid-p-Box">
                <p>Business & eCommerce Plans
                    Grow and manage your online business with a custom storefront, catalog and order management, shipping and taxes, integrated
                    sales channels and more.</p>
                <h1>找老師詳細資料</h1>
            </div>
            <div class="Paid-p-Box-1">
                <p>Displayed prices are for yearly subscriptions, paid in full at the time of purchase. Prices do not include applicable taxes, which are determined according to your billing address.
                    The final price can be seen on the purchase page, before payment is completed. The Ad Vouchers are third party services and </p>
            </div>
            <div class="Paid-img">
                <img src="./img/Paid page/01@2400x.png">
                <img src="./img/Paid page/02@2400x.png">
            </div>
        </div>

    </section>

    <footer class="font-b">
        <h1>© MYTeachor, Inc.</h1>
        <h1>網站地圖・服務條款隱私聲明</h1>
    </footer>

    <script src="./js/modal.js"></script>
</body>
</html>
