<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./style/main.css">
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo">
                <a href="#sec-header">
                    <img class="logo-img" src="./img/icon/logo.svg">
                </a>
            </div>
            <ul class="navber font-b">
                <li>
                    <a data-btn="navber_a" href="#sec-text-video">熱門商品</a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-slide">找教師
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-from">找工作
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-topic">blog
                      <i class="fas fa-angle-down"></i>
                    </a>
                </li>
                <li>
                    <a data-btn="navber_a" href="#sec-host">資源下載</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">註冊/登入</a>
                </li>
                <li>
                  <a data-btn="navber_a" href="#sec-host">
                    <img class="shop-cart" src="./img/icon/shop-cart.svg">
                  </a>
                </li>
            </ul>
            <div class="menuber">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>
    <main id="main-user">

        <section class="sec-header">
        </section>

        <div class="slip-ber font-r">
            <div class="ber">
                <h1 class="ber-text">User</h1>
            </div>
        </div>


        <section id="user-content" class="font-b">
            <div class="container">
                <div class="list-item">
                    <h1 class="text">首頁 <i class="fal fa-angle-right"></i> 註冊 / 登入</h1>
                </div>
            </div>
            <div class="container-12 font-r">
                <div class="content-modal">
                    <div class="set-sort">
                        <div class="set-sort-item item-one">
                            <div class="title font-b">設定分類</div>
                            <ul class="item">
                                <li>
                                    <i class="fas fa-caret-right"></i>
                                    <input type="radio">
                                    <span>自我介紹</span>
                                </li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <i class="fas fa-caret-right"></i>
                                    <input type="radio">
                                    <span>過去經歷</span>
                                </li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <i class="fas fa-caret-right"></i>
                                    <input type="radio">
                                    <span>專業學科</span>
                                </li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <i class="fas fa-caret-right"></i>
                                    <input type="radio">
                                    <span>語文能力</span>
                                </li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <i class="fas fa-caret-right"></i>
                                    <input type="radio">
                                    <span>相關證照</span>
                                </li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <i class="fas fa-caret-right"></i>
                                    <input type="radio">
                                    <span>作品/檔案上傳</span>
                                </li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <i class="fas fa-caret-right"></i>
                                    <input type="radio">
                                    <span>修改密碼</span>
                                </li>
                            </ul>
                        </div>
                        <div class="set-sort-item item-two">
                            <div class="title title-w100 font-b">進階設定<img src="./img/icon/btn.svg"></div>
                            <form>
                                <div class="options">
                                    <label for="">服務金額</label>
                                    <div class="box">
                                        <input type="text" placeholder="$600">
                                        <span>~</span>
                                        <input type="text" placeholder="$1000">
                                    </div>
                                </div>
                                <div class="options">
                                    <label for="">服務經驗</label>
                                    <div class="box box-opt">
                                        <select>
                                            <option selected>3年</option>
                                            <option >2年</option>
                                            <option >1年</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="options">
                                    <label for="">服務地區</label>
                                    <select>
                                        <option selected>台北</option>
                                        <option >新竹</option>
                                        <option >桃園</option>
                                    </select>
                                </div>
                                <div class="options">
                                    <label for="">服務方式</label>
                                    <select>
                                        <option selected>不拘</option>
                                    </select>
                                </div>
                                <div class="options">
                                    <label for="">教學對象</label>
                                    <select>
                                        <option selected>不拘</option>
                                    </select>
                                </div>
                                <div class="options">
                                    <label for="">服務時段</label>
                                    <div class="box-radio ">
                                        <input id="box-radio-1" type="radio" name="box-radio">
                                        <label for="box-radio-1">平日全時段</label>
                                    </div>
                                    <div class="box-radio ">
                                        <input id="box-radio-2" type="radio" name="box-radio">
                                        <label for="box-radio-2">平日上午</label>
                                    </div>
                                    <div class="box-radio ">
                                        <input id="box-radio-3" type="radio" name="box-radio">
                                        <label for="box-radio-3">平日下午</label>
                                    </div>
                                    <div class="box-radio ">
                                        <input id="box-radio-4" type="radio" name="box-radio">
                                        <label for="box-radio-4">平日晚上</label>
                                    </div>
                                    <div class="box-radio ">
                                        <input id="box-radio-5" type="radio" name="box-radio">
                                        <label for="box-radio-5">假日全時段</label>
                                    </div>
                                    <div class="box-radio ">
                                        <input id="box-radio-6" type="radio" name="box-radio">
                                        <label for="box-radio-6">假日上午</label>
                                    </div>
                                    <div class="box-radio ">
                                        <input id="box-radio-7" type="radio" name="box-radio">
                                        <label for="box-radio-7">假日下午</label>
                                    </div>
                                    <div class="box-radio ">
                                        <input id="box-radio-8" type="radio" name="box-radio">
                                        <label for="box-radio-8">假日晚上</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="set-form">
                        <div class="Self-box">
                            <div class="avatar">
                                <img src="./img/user/avatar.png">
                            </div>
                            <div class="Self-content">
                                <div class="input-box">
                                    <input type="text" placeholder="姓名">
                                </div>
                                <div class="input-box">
                                    <input type="text" placeholder="電話">
                                </div>
                                <div class="input-box">
                                    <input type="text" placeholder="地址">
                                </div>
                                <div class="input-box">
                                    <input type="text" placeholder="信箱">
                                </div>
                                <div class="input-box">
                                    <input type="text" placeholder="信箱">
                                </div>
                            </div>
                        </div>
                        <div class="input-enter">
                            <textarea placeholder="自我介紹300字"></textarea>
                        </div>
                        <div class="text-box">
                            <div>上傳檔案</div>
                            <div>上傳檔案</div>
                            <div>上傳檔案</div>
                            <div>上傳檔案</div>
                            <div class="mg-te">上傳檔案</div>
                        </div>
                        <div class="course">
                            <img src="./img/user/課程表.jpg" >
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
    </main>
    <footer class="font-b">
        <h1>© MYTeachor, Inc.</h1>
        <h1>網站地圖・服務條款隱私聲明</h1>
    </footer>

    <script src="./js/modal.js"></script>

</body>
</html>